* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


@font-face {
    font-family: "Asaps";
    src: url(Assets/Asap-Bold.ttf) format("truetype");
}
p.customfont { 
    font-family: Asaps;
}
body{
  height: 100vh;
  width: 100%;
  background-image: url("Assets/fondo.png");
  background-size: cover;  
  font-family: Asaps;
}
.show-btn{
  
}

#logo{
  margin-left: 15px;
}

#perfil{
  cursor: pointer; 
  background-color: white; 
  border: none; 
  position: absolute; 
  left: 1700px; 
  height: 100px; 
  width: 100px; 
  top: 5px; 
  display: none;
}

#show{
  display: none;
}

#form1{
  border-width: 1px; 
  border-radius: 10px;
}
#loginbutton{
  position: absolute; 
  left: 1550px; 
  width: 178px; 
  top: 55px; 
  font-family: Asaps; 
  font-size: 30px; 
  color: #000000; 
  cursor: pointer;
}
.header{
  background-color: white; 
  width: 100%; 
  height: 107px;
}
.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-btn, .container2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]{
  display: none;
}
.container{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.container2{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.login ~ .container {
  display: block;
}
.login ~ .container2 {
  display: none;
}
.singup ~ .container2{
  display: block;
}
.singup ~ .container{
  display: none;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #3498db;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
.container2 .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container2 .close-btn:hover{
  color: #3498db;
}
.container2 .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container2 form{
  margin-top: -20px;
}
.container2 form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
  font-family: Asaps;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
  font-family: Asaps;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
  font-family: Asaps;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
  font-family: Asaps;
}
form .forgot-pass a:hover{
  text-decoration: underline;
  font-family: Asaps;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: Asaps;

}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #3F77C6, #9BB7D4, #3F77C6, #9BB7D4);
  transition: all 0.4s;
  font-family: Asaps;
}
form .btn:hover .inner{
  left: 0;
  font-family: Asaps;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Asaps;
}
form .signup-link{
  text-align: center;
  font-family: Asaps;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
  font-family: Asaps;
}
form .signup-link a:hover{
  text-decoration: underline;
}

#show2{
  display: none;
}

#signupbutton{
  background: black; 
  position:absolute; 
  left: 1650px;
  padding: 10px; 
  width: 160px; 
  top: 30px; 
  font-family: Asaps; 
  font-size: 27px; 
  color: white; 
  cursor: pointer; 
  border-radius: 10px;
}

#form2{
  border-width: 1px; 
  border-radius: 10px;
}

#fon{
 width: 1617.99px;
 height: 700px;
 margin-left: 120px;
 margin-top: 100px;
 background-color: white;
 border-radius: 20px;
 padding: 50px;
}

#grid{
  
  width: 1500px;
  height: 600px;
}
.grid-container{
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid
}

#item1{
  grid-row: 1;
  grid-column: 1;
}
#item2{
  grid-row: 1;
  grid-column: 2;
}
#item3{
  grid-row: 1;
  grid-column: 3;
}
#item4{
  grid-row: 2;
  grid-column: 1;
}
#item5{
  grid-row: 2;
  grid-column: 2;
}
#item6{
  grid-row: 2;
  grid-column: 3;
}
.lab{
  font-family: Asaps;
}
.imgs{
  width: 467px;
  height: 270px;
  border-radius: 20px;
}
.btsn{
  background-color: white;
  border: none;
  cursor: pointer;
}